<template name="dropsList">	
	<div id="content">
		<h1>Zulrah Droplog</h1>	

		<section>
			{{> droplogsList}}
		</section>

		<div class="summarize">
			{{> tripInfo}}
			<p>Total drops: {{dropCount}}</p>
			<p>Total price: {{totalGp}}gp</p>
		</div>
		<div class="drops-list">
			<table id="rsdl-table">
				<thead class="rsdl-table-header">
					<tr>
						<th class="th-table-number">#</th>
						<th class="th-table-image">Img</th>
						<th class="th-table-title">Drop name</th>
					    <th class="th-table-quantity">Qty</th>
					    <th class="th-table-price">Price</th>
					    <th class="th-table-time">Time</th>
					    <th class="th-table-delete"></th>
					</tr>		
				</thead>
			</table>
			{{#if drops}}
			<table id="rsdl-data-table">
				<tbody id="rsdl-data">
					{{#each drops}}
						<tr>
							<td class="td-table-number">{{number}}</td>
							<td class="td-table-image"><img src="{{img}}"></td>
							<td class="td-table-title">{{title}}</td>
							<td class="td-table-quantity">{{quantity}}</td>
							<td class="td-table-price">{{totalPrice}}</td>
							<td class="td-table-time">{{createdAt}}</td>
							<td class="td-table-delete"><button class="btn btn-danger delete">&times;</button></td>
						</tr>
					{{/each}}
				</tbody>
			</table>
			{{else}}
				<p>New droplog created.</p>
				<p>Add new drops from right menu.</p>
			{{/if}}
			<footer>
			&copy; 2015 <a href="http://www.michaltakac.com" target="_blank">Michal Takac</a> - Released under the 
			<a href="https://github.com/michaltakac/zulrah-droplog/blob/master/LICENSE" target="_blank">MIT license</a>.
			<br />
			<a href="http://www.runescape.com" target="_blank">RuneScape</a> &reg; is a trademark of Jagex Ltd &copy; 1999 - 2015.
			</footer>
		</div>
		
	</div>

	<aside>
		<div class="add-drop">
			<h3>Add drop</h3>
			<ul>
			{{#each dropImages}}		
				<li class="drops-wrapper">
					<div class="drop-image add-drop-to-db" title="{{title}}">
						<img src="{{img}}" title="{{title}}">
					</div>
					<span class="drop-count">{{itemCount}}</span>
				</li>
			{{/each}}
			</ul>
		</div>
	</aside>
</template>